.admin-flex-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 44px;
  padding: 16px;
}

.image img {
  max-width: 290px !important;
  max-height: 194px !important;
}

@media only screen and (max-width: 390px) {

  .admin-flex-container {
    margin: 0.5em;
    margin-bottom: 44px;
    padding: 0px;
  }

  .ui.card {
    max-width: 240px !important;
  }

  .users-list {
    font-size: 13px !important;
  }

  .admin-button {
    font-size: 13px !important;
  }
}

.flex-item {
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding:16px;
  box-sizing: border-box;
  margin-left: 5.3px;
  margin-right: 5.3px;
  margin-bottom: 16px;
}

.users-list {
  flex:1;
  text-align: center;
}

.submission-list {
  flex:2;
}

.rate-limit-list {
  flex:1;
}



@media only screen and (min-width: 675px) and (max-width: 898px) {
  .users-list {
    order:2;
  }
  .submission-list {
    order:1;
    flex-basis: 100%;
  }
  .rate-limit-list {
    order:2;
  }
}

@media only screen and (max-width: 674px) {
  .users-list {
    order:2;
    flex-basis: 100%;
  }
  .submission-list {
    order:1;
    flex-basis: 100%;
  }
  .rate-limit-list {
    order:3;
    flex-basis: 100%;
  }
}

/* UsersList.jsx */

.user-list-container:first-child {
  border-top: 2px outset grey;
}

.admin-button {
  min-width: 85px;
}

.user-list-container {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  border-bottom: 2px inset grey;
}

