/* App.jsx */
.app {
  min-height: 936px;
}

/* Header.jsx */
.ui.right.aligned.search {
  margin-right: 10px;
}

.create-recipe-button {
  margin-right: 10px !important;
}


/* TitleSection.jsx */

.title-container {
  position: relative;
}

.title-image {
  max-height: 240px;
  display: block;
}

.image-overlay {
  position: absolute;
  width: 100%;
  background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 1) 100%);
  top: 0px;
  height: 100%;
  opacity: 0.75;
}

.text-overlay {
  position: absolute;
  width: 100%;
  top: 0px;
  padding: 2vw;
  color: #eeeeee;
  font-size: 30px;
}

.text-overlay h1 {
  font-size: 46px;
}


/* RecipeSubmit.jsx */
.form-container {
  display: flex;
  flex-direction: column;
}

.form-submit-button {
  align-self: center;
}

/* RecipeSearch.jsx */
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.search-cuisine {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  order: 1;
}
.icons {
  display: flex;
  flex: 1;
  justify-content: center;
  order:2;
}
.search-recipe {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  order: 2;
}

.icon-container {
  margin-right: 16px;
  min-width: 72px;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 898px) {
  .search-cuisine {
    justify-content: center;
    flex-basis: 50%;
    order:1;
  }
  .icons {
    flex-basis: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    order:2;
  }
  .search-recipe {
    justify-content: center;
    flex-basis: 50%;
    order:1;
  }
}



/* RecipeList.jsx */
.ui.cards > .card.card-container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
}


.ui.cards > .card.card-container > .image {
  border-radius: 0px 0px 0px 0px !important;
}

.ui.centered.cards {
  margin-top: 50px;
  margin-bottom: 20px;
}

.recipe-list {
  padding-bottom: 60px;
}

/* Footer.jsx */
.footer {
  height: 60px;
  background: black;
  position: fixed;
  width: 100%;
  bottom: 0px;
  background: #1B1C1D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 10;
}

.content-footer {
  display: flex;
  color: white;
  margin: 14px;
}

.content-footer a {
  padding-left: 4px;
  padding-right: 4px;
}

.github-icon-link, .github-icon-link:visited {
  display: block;
  color: white;
}

/* RecipeSubmit.jsx */
.popup.error {
  color: red !important;
}