/* App.jsx */

/* Header.jsx */
.ui.right.aligned.search {
  margin-right: 10px;
}

.login-button {
  font-size: 15px !important;
  cursor: pointer;
}

@media only screen and (max-width: 360px) {
  .login-button {
    font-size: 12px !important;
  }
}



/* TitleSection.jsx */

.title-container {
  position: relative;
}

.title-image {
  max-height: 320px;
  display: block;
}

.image-overlay {
  position: absolute;
  width: 100%;
  background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 1) 100%);
  top: 0px;
  height: 100%;
  opacity: 0.75;
}

.text-overlay {
  position: absolute;
  width: 100%;
  top: 0px;
  padding: calc(18px + 6 * ((100vw - 320px) / 680));
  color: #eeeeee;
  font-size: calc(14px + 6 * ((100vw - 320px) / 680));
}

.text-overlay h1 {
  font-size: calc(22px + 6 * ((100vw - 320px) / 680));
  margin-bottom: 8px;
}


/* RecipeSubmit.jsx */
.form-container {
  display: flex;
  flex-direction: column;
}

.form-submit-button {
  align-self: center;
}

/* RecipeSearch.jsx */
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.search-cuisine {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  order: 1;
}
.icons {
  display: flex;
  flex: 1;
  justify-content: center;
  order:2;
}
.search-recipe {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  order: 2;
}

.icon-container {
  margin-right: 16px;
  min-width: 66px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}

@media only screen and (max-width: 898px) {
  .search-cuisine {
    justify-content: center;
    flex-basis: 50%;
    order:1;
  }
  .icons {
    flex-basis: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    order:2;
  }
  .search-recipe {
    justify-content: center;
    flex-basis: 50%;
    order:1;
  }
}

@media only screen and (max-width: 462px) {
  .search-cuisine {
    justify-content: center;
    flex-basis: 100%;
    order:2;
  }
  .icons {
    flex-basis: 100%;
    padding-bottom: 16px;
    order:3;
  }
  .search-recipe {
    justify-content: center;
    flex-basis: 100%;
    order:1;
    padding-bottom: 16px;
  }

  .icon-container {
    margin-right: 16px;
    min-width: 36px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
  }

  .ui.right.aligned.search {
    max-width: 196px;
  }
}



/* RecipeList.jsx */
.ui.cards > .card.card-container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
}


.ui.cards > .card.card-container > .image {
  border-radius: 0px 0px 0px 0px !important;
}

.ui.centered.cards {
  margin: 0px;
  position: relative;
}

.recipe-list {
  margin-bottom: 64px;
}

.recipe-card-group {
  min-height: 410px !important;
}

.submission-section {
  padding-top: 12px;
  flex-basis: 100%;
  border-top: 1px solid lightgray;
  margin-top: 8px;
}

/* RecipeCard.jsx */
.card-extra {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ui.card {
  margin: 12.8px !important;
}

.ui.cards > .card > .image > img, .ui.card > .image > img {
  border-radius: 0px !important;
}

/* Footer.jsx */
.footer {
  height: 60px;
  background: black;
  position: fixed;
  width: 100%;
  bottom: 0px;
  background: #1B1C1D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 10;
}

.content-footer {
  display: flex;
  color: white;
  margin: 14px;
}

.content-footer a {
  padding-left: 4px;
  padding-right: 4px;
}

.github-icon-link, .github-icon-link:visited {
  display: block;
  color: white;
}

/* RecipeSubmit.jsx */
.popup.error {
  color: red !important;
}

.popup.success {
  color: green !important;
}